* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.alert-info{
    background: #ccffff;
    border: 2px solid grey;
    text-align: center;
    letter-spacing: 0.1em;
}

.alert-info>a {
    display: inline-block;
    padding: 1em 0;
    text-decoration: none ;
}
h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;

}

ul{
    list-style: none;
}

li {
    margin: 1em;
    padding: 1em 0;
    background-color: lightgray;
}

.nav-links a {
    margin: 40px;
    /*background: grey;*/
    /*border: 2px solid grey;*/
    /*list-style: none;*/
    /*padding: 1em 0;*/
    /*display: inline-block;*/
}
/*li{*/
/*    display: inline-block;*/
/*    background: lightgray;*/
/*    flex-wrap: wrap;*/
/*    padding: 1em 0;*/
/*}*/

/*.nav-links {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    padding: 1em 0;*/
/*}*/




/*section {
    width: 100%;
    padding: 1em;
}*/

/*@media screen and (min-width: 800px) {
    body {
        background: rgba(5, 77, 5, 0.91);
    }
    section {
        width: 50%;
    }
}*/
.sub-section{
    font-style: italic;
}